.sexen {
    background-color: rgba(0, 0, 0, 1);
   }

.img2 {
    width: 100%;
    border: 5px solid white;
    display: block; /* Remove any default inline spacing */
    margin: 0 auto; /* Center the image horizontally */
  }


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;} 
html, body {
    height: 100%;   /* Ensures full height */}
img {
    width: 100%;  /* Ensure the images take full width */
    display: block;  /* Prevent images from having space below them */}
  


    .image-container {
        display: flex;         /* Use flexbox layout */
      flex-direction: column; /* Stack items vertically */
      align-items: center;    /* Center the images horizontally */
      justify-content: center; /* Center the images vertically */
      height: 100vh;   
    }
    
    .background {
        width: 100%;
		
    
    display: block; /* Remove any default inline spacing */
    margin: 0 auto; /* Center the image horizontally */
    }
    
    .ltr {
		object-fit: cover; 
        position: absolute;
		object-fit: contain;
		height:33vh;
        left: 80%;
        transform: translate(-50%, -50%) scale(1.1); /* Initially scaled down */
        animation: ltrz 2s forwards; /* Trigger the zoom-in animation */
        width: 100%; /* Adjust width as needed */;
        pointer-events: none; /* Optional: prevents the foreground from blocking interactions */
    }
	
	.ltrL {
		object-fit: cover; 
		object-fit: contain;
        position: absolute;
		height:33vh;
        left: 80%;
        transform: translate(-50%, -50%) scale(1); /* Initially scaled down */
        animation: ltrz 2s forwards; /* Trigger the zoom-in animation */
        width: 100%; /* Adjust width as needed */;
        pointer-events: none; /* Optional: prevents the foreground from blocking interactions */
    }
	
	.logo {
        position: absolute;
        top: 25%;
		height:25vw;
        left: 50%;
        transform: translate(-50%, -50%) scale(1); /* Initially scaled down */
        animation: ZoomIn 3s forwards; /* Trigger the zoom-in animation */
        width: 25vw; /* Adjust width as needed */;
        pointer-events: none; /* Optional: prevents the foreground from blocking interactions */
    }
	
	.rtl {
		object-fit: contain;
        position: absolute;
		height:33vh;
        left: 80%;
        transform: translate(-50%, -50%) scale(1); /* Initially scaled down */
        animation: rtlz 2s forwards; /* Trigger the zoom-in animation */
        width: 100%; /* Adjust width as needed */;
        pointer-events: none; /* Optional: prevents the foreground from blocking interactions */
    }
    
	.image {
      width: 100vw;   /* Adjust the width to 80% of the viewport width */
      height: 33%;  /* Adjust the height to 30% of the viewport height */
      object-fit: cover; /* Zoom the image to cover the space */
      margin: 1px 0; /* Space between the images */
	  animation: ltrz 2s forwards;
    }
	
    @keyframes ltrz {
        0% {
            width: 1vw;
        }
        100% {
            width: 100vw;
        }
    }
	
	@keyframes rtlz {
        0% {
            left: 150%;
        }
        100% {
            left: 50%;
        }
    }
	
	
	@keyframes ZoomIn {
        0% {
            transform: translate(-50%, -50%) scale(0);
        }
        100% {
            transform: translate(-50%, -50%) scale(1);
        }
    }
