.sexen {
    background-color: rgba(205, 227, 249, 1);
   }

.img2 {
    width: 100%;
    border: 5px solid white;
    display: block; /* Remove any default inline spacing */
    margin: 0 auto; /* Center the image horizontally */
  }




*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;} 
html, body {
    height: 100%;   /* Ensures full height */}
img {
    width: 100%;  /* Ensure the images take full width */
    display: block;  /* Prevent images from having space below them */}
  


    .image-container {
        position: relative;
        width: 100%; /* Set a width based on your images or use 100% */
    }
    
    .background {
        width: 100%;
    border: 5px solid white;
    display: block; /* Remove any default inline spacing */
    margin: 0 auto; /* Center the image horizontally */
    }
    
    .foreground {
        position: absolute;
        top: 35%;
        left: 70%;
        transform: translate(-50%, -50%) scale(0); /* Initially scaled down */
        animation: zoomIn 4s forwards; /* Trigger the zoom-in animation */
        width: 50%; /* Adjust width as needed */;
        pointer-events: none; /* Optional: prevents the foreground from blocking interactions */
    }
    
    @keyframes zoomIn {
        0% {
            transform: translate(-50%, -50%) scale(0); /* Start small */
        }
        100% {
            transform: translate(-50%, -50%) scale(1); /* End at normal size */
        }
    }
